/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2018, 11:41:25 AM
    Author     : Nooshi
*/

.clinic-name{
    background-color: inherit;
    color: #9C70A5;
}
.item{
    height: 500px;
    width: 100%;
    background-image: url(../images/slide9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}
div.hidden-div{
    display: none;
}
/**.clnk{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    display:inline-block;
    font-size: 15px;
    color:#838383;
    padding: 5px;
    height: 120px;
    background-color: #FCFCFC;
    opacity: 0.8;
    filter: alpha(opacity=60);
}**/
div.clnk-container{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #FCFCFC;
    padding: 10px;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
/**.clnk-container{
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    text-align: center;
}**/
.clnk-widget{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    padding: 5px;
    border-right: 1px solid rgba(50, 50, 50, 0.1);
}
.right-border{
    border-right: none;
}

.icon-box{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    display: inline-block;
}
.icon{
    height: 100%;
    padding: 10px;
    float:left;
}

.clnk-info {
    float: right;
    line-height: 17px;
    color: black;
    width: available;
    font-size: 15px;
    text-align: left;
    padding: 0px 10px;
}
.appoinment-btn{
    height: 120px;
}
.appoinment-btn input[type='submit']{
    width: auto;
    height: 70px;
    background-color: #9C70A5;
    border: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border-radius: 40px;

}
/*-------Clinics Div------*/

.clinic-pic ul a{
    text-decoration: none;
    text-align: center;
}

.clinic-pic ul li{
    height: auto;
    display:inline-block;
    padding: 5px;
    margin: 0 5px;
    font-size: 17px;
    line-height: 30px;
}
.clinic-pic ul li img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 50px;
}

/**Map*/
#map{
    width:100%;
    height:400px;
    background:yellow;
}
/**Doctor div*/
.doctor-pic{
    margin-bottom: 15px;
}
.doctor-pic ul li{
    height: auto;
    display:inline-block;
    padding: 8px;
    margin: 0 8px;
    font-size: 17px;
    line-height: 30px;
}
.doctor-pic ul li img{
    width: 110px;
    height: 110px;
    border-radius: 5px;
    vertical-align: middle;
}

/**Insurance div*/
.insurance{
    margin-bottom: 15px;
    height: auto;
}
.insurance ul li{
    display: inline-block;
    padding-left: 5px ;
    padding-right: 5px;
}
/**Insurance Images*/
.insurance ul li img{
    max-width: 150px ;
    height: 60px ;
}
/**Media Queries*/
/* Smartphones (portrait and landscape) --------------------------------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    .header-top{
        width: 100%;
        height: 85px;
        margin-bottom: 1px;
    }
    /**Hamburger icon div*/
    div.menu-icon{
        display: flex;
        float: left;
        width: 20%;
        height: inherit;
    }
    /**Hamburger icon*/
    .menu-icon{
        justify-content: center;
        align-items: center;
    }
    /**div of Logo*/
    div.logo{
        float: right;
        display: flex;
        justify-content: flex-end;
        width: 80%;
        height: inherit;
        text-align: center;

    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
    }
    div.search-box{
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        margin: auto;
    }
    div.center-search{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 10px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
        background-color: #445268;
    }

    .form-style{
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
        width: 100%;

    }
    .form-style input[type='text']{
        width: 220px;
        border: 1px solid gray;
        font-size: 16px;
    }
    .form-style input[type='submit']{
        width: 70px;
        border: 2px solid #55A6D7;
    }
    .select-style{
        width: 75px;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }

    .navbar{
        display: none;
    }
     div.item{
        display: none;
    }
    div.hidden-div{
        display: block;
    }
    div.item1{
        display: block;
        width: 100%;
        height: 300px;
        /**background-image: url(../images/slide9.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;**/
    }

    div.clnk-container{
        display: block;
        height: auto;
        border-top: 1px solid rgba(50, 50, 50, 0.1);

        opacity: 1;
    }

    .clnk-widget{
        display:inline-block;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
        border-right: none;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        height: 75px;
        width: 10%;
        float:left;
    }
    .icon img{
        text-align: center;
    }

    .clnk-info {
        display: inline-block;
        float: left;
        line-height: 10px;
        padding-bottom: 12px;
        color: black;
        width: 80%;
        height: 75px;
        font-size: 17px;
        text-align: left;
    }
    .clnk-info span{
        color: #717171;
    }
    div.appoinment-btn{
        height: auto;
    }
    .appoinment-btn input[type='submit']{
        width: 300px;
        height: 70px;
        background-color: #9C70A5;
        border: none;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        margin: 5px;
        padding: 15px;
        border-radius: 40px;

    }
    div.clinic-pic{
        display: flex;
        justify-content: flex-start;
    }
    
}




/**Tablet, Ipad (Landscape) and (portrait)**/

@media screen and (min-width: 600px) and (max-width: 1024px){

    div.logo-header{
        height: 90px;
    }
    /**Hamburger icon div*/
    div.menu-icon{
        display: flex;
        float: left;
        width: 20%;
        height: inherit;
    }
    /**Hamburger icon*/
    .menu-icon{
        justify-content: center;
        align-items: center;
    }
    /**div of Logo*/
    div.logo{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        float: right;
        width: 80%;
        height: inherit;
    }
    /**Logo image*/
    .logo img{
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 69px;
        margin-bottom: 12px;
    }

    div.search-box{
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 65px;
        margin: auto;
        background-color: #445268;
    }
    div.center-search{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        padding: 10px;
        margin-left: auto;
        margin-right:  auto;
        text-align: center;
    }
    .form-style{
        margin: 0 auto;
        display: inline-block;
        overflow: hidden;
    }
    .form-style input[type='text']{
        width: 280px;
        border: 1px solid gray;
        font-size: 16px;
    }
    .form-style input[type='submit']{
        width: 70px;
        border: 2px solid #55A6D7;
    }
    .dropbtn{
        border: 1px solid #cccccc;
    }
    .navbar{
        display: none;
    }
    div.item{
        display: none;
    }
    div.hidden-div{
        display: block;
    }
    div.item1{
        display: block;
        width: 100%;
        height: 300px;
        /**background-image: url(../images/slide9.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: auto;**/
    }

    div.clnk-container{
        display: block;
        height: auto;
        border-top: 1px solid rgba(50, 50, 50, 0.1);

        opacity: 1;
    }

    .clnk-widget{
        display:inline-block;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid rgba(50, 50, 50, 0.1);
        border-right: none;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        height: 75px;
        width: 10%;
        float:left;
    }
    .icon img{
        text-align: center;
    }

    .clnk-info {
        display: inline-block;
        float: left;
        line-height: 10px;
        padding-bottom: 12px;
        color: black;
        width: 80%;
        height: 75px;
        font-size: 17px;
        text-align: left;
    }
    .clnk-info span{
        color: #717171;
    }
    div.appoinment-btn{
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    .appoinment-btn input[type='submit']{
        width: 600px;
        height: 70px;
        background-color: #9C70A5;
        border: none;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        margin: 5px;
        padding: 15px;
        border-radius: 40px;

    }
}



